{% extends 'base.html.twig' %}

{% block title %}Waldenburg Hofflohmärkte 2025{% endblock %}

{% block body %}
    <section class="bg-header">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-8 lg:px-12">
            <h1 class="pt-2 mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
                Waldenburger Hofflohmärkte</h1>
            <p class="text-gray-700 font-medium sm:text-xl dark:text-gray-200">Am 31. Oktober 2025 von 10 Uhr bis 17 Uhr</p>
            <p class="mb-1 text-lg font-medium text-gray-700 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-200">Die Stadt entdecken 🏡, Nachbarn kennenlernen 🤝, Trödeln 🛍️</p>

            <div class="mt-5">
                <a href="{{ path('app_stall_create') }}" class="inline-flex items-center gradient-button hover:opacity-90 focus:ring-4 focus:ring-primary-300 font-bold rounded-lg text-base px-6 py-3.5 me-2 mb-2 focus:outline-none dark:focus:ring-primary-800 gap-2">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"/>
                    </svg>

                    Register your stall
                </a>
            </div>
        </div>

        <div class="px-4 map-controls" {{ stimulus_controller('map-controls') }}>
            <button {{ stimulus_action('map-controls', 'showList') }} {{ stimulus_target('map-controls', 'showListBtn') }}
                    type="button"
                    class="inline-flex justify-center items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs px-3 py-1.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="mr-2 -mr-1 w-5 h-5">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M8 6L21 6.00078M8 12L21 12.0008M8 18L21 18.0007M3 6.5H4V5.5H3V6.5ZM3 12.5H4V11.5H3V12.5ZM3 18.5H4V17.5H3V18.5Z"
                              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </g>
                </svg>

                Liste der Stände
            </button>

            <button {{ stimulus_target('map-controls', 'hideListBtn') }} data-action="map-controls#hideList flyToStoreAndHideList@window->map-controls#hideList"
                                                                         type="button"
                                                                         class="hidden inline-flex justify-center items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs px-3 py-1.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="mr-2 -mr-1 w-5 h-5">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z"
                              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </svg>

                Karte der Stände
            </button>
        </div>
    </section>

    <section {{ stimulus_controller('map', {
        'apiKey': google_maps_api_key,
        'stallsUrl' : path('app_stall_list')
    }) }} id="map-container" class="flex-grow flex">
        <div class="sidebar" id="sidebar">
            <div id="listings" class="listings"></div>
        </div>
        <div id="map" class="map flex-grow"></div>
    </section>
{% endblock %}
