{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="bg-animated">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-20 lg:py-16 lg:grid-cols-12">
            <div class="w-full p-6 mx-auto bg-white rounded-lg shadow dark:bg-gray-800 sm:max-w-xl lg:col-span-6 sm:p-8">

                <h1 class="mb-2 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
                    Waldenburger Hofflohmärkte
                </h1>

                <p class="text-sm">
                    <a href="{{ path('index') }}" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <svg class="w-5 h-5 me-0 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 8-4 4 4 4"/>
                        </svg>
                        Back to list of stalls
                    </a>
                </p>


                {% if isNew %}
                    <p class="font-light text-gray-500 dark:text-gray-300 mb-4">
                        Zeitpunkt der Veranstaltung: Freitag, 31. Oktober 2025 (Reformationstag), 10 - 17 Uhr
                    </p>

                    <p class="font-light text-gray-500 dark:text-gray-300 mb-4">
                        Adresse des Veranstaltungsorts: Stadtgebiet Waldenburg (08396)
                    </p>

                    <p class="font-light text-gray-500 dark:text-gray-300 mb-4">
                        Bei Fragen könnt ihr euch unter hallo@kleinodd.de und im kleinodd - Buch & Café  (Markt 13) melden.
                    </p>

                    <p class="font-light text-gray-500 dark:text-gray-300 mb-4">
                        Hier sind ein paar Tipps, damit es für dich als Standbetreiber*in ein toller Tag wird:
                    </p>

                    <p class="font-light text-gray-500 dark:text-gray-300 mb-4">
                        Frag' <span class="font-bold">deine Nachbarn</span>, ob sie mitmachen. Zusammen macht es mehr Spaß! (Meldet euch aber bitte nur 1x pro Adresse an!)
                    </p>


                    <p class="font-light text-gray-500 dark:text-gray-300 mb-4">
                        Macht mit Luftballons am Zaun o.ä. auf euren Stand aufmerksam.
                    </p>

                    <p class="font-light text-gray-500 dark:text-gray-300">
                        Wenn ihr Muffins backen oder selbstgemachte Limonade anbieten wollt, dürft ihr dies auf Spendenbasis tun.
                    </p>
                {% endif %}

                {{ form_start(form, {'attr': {'class': 'mt-4 space-y-6 sm:mt-6', 'novalidate': 'novalidate'}}) }}

                {{ form_errors(form) }}

                <div class="grid gap-6 sm:grid-cols-2">
                    {{ form_row(form.fullName) }}
                    {{ form_row(form.email) }}
                </div>

                {% set hasExistingAddress = address is not null and address.formattedAddress is defined %}

                <div class="form-control" {{ stimulus_controller('geocoder', {
                    apiKey: google_maps_api_key,
                    geoCoderPlaceholder: 'Adresse eingeben...',
                    hasExistingAddress: hasExistingAddress
                }) }} data-search-target="geocoderContainer" data-search-target="geocoderContainer">

                    <div class="geocoder" data-geocoder-target="geocoder"></div>

                    {% if hasExistingAddress %}
                        <div class="geocoder" data-geocoder-target="existingAddress">
                            <p>{{ address.formattedAddress }}</p>
                            <a href="#" {{ stimulus_action('geocoder', 'changeAddress') }} class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ändern</a>
                        </div>
                    {% endif %}

                    {{ form_widget(form.address, { 'attr' : {
                        'data-geocoder-target' : 'result',
                        'data-search-target' : 'result',
                    } }) }}
                    {{ form_errors(form.address) }}
                </div>

                {{ form_row(form.stallNumber, {'attr': {'class': 'w-24'}}) }}

                {{ form_row(form.information) }}
                {{ form_row(form.comments) }}

                <div class="flex items-center">
                    <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                    <div class="px-5 text-center text-gray-500 dark:text-gray-400"> +</div>
                    <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                </div>

                {{ form_row(form.agreeTerms) }}

                <button type="submit" class="gradient-button w-full text-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-bold rounded-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Register</button>

                {{ form_end(form) }}
            </div>
            <div class="mr-auto place-self-center lg:col-span-6">
                <img class="hidden mx-auto lg:flex" src="{{ asset('images/yard-sale.png') }}" alt="illustration">
            </div>
        </div>
    </section>
{% endblock %}
